.about{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about h2{
    font-size: 40px;
}

.about p{
    width: 800px;
    max-width: 100%;
    color: #777;
    margin-top: 30px;
    line-height: 1.7;
    font-size: 15px;
}